/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
body>div {
    background-color: #F6F8F9;
    width: 100vw;
    height: 100vh;
}
.color_white {
    color: white;
    display: inline-block;
}
.background_blue {
    background-color: #45ABEA; 
}

/* header page */
header {
    background-color: white;
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
}
header>figure {
    display: inline-block;
    line-height: 100px;
}
header img {
    vertical-align: middle;
    margin-left: 20px;
    width: 100%;
}
header>span {
    line-height: 100px;
    vertical-align: middle;
    font-weight: 700;
    font-size: 50px;
    margin-left: 20px;
}

/* body page */
main>section:first-of-type {
    background-color: white;
    width: 70%;
    height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    margin: 0px auto;
}
.add {
    border-radius: 5px;
    padding: 5px 10px;
    margin-top: 20px;
}
#first_add {
    margin-left: 80px;
}
#background_white {
    background-color: white; 
    color: #C1C1C1;
    border: 1px solid #C1C1C1;
}

main>section:last-of-type {
    background-color: white;
    width: 70%;
    height: 100px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 5px auto 0px auto;
}
