/* common */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body>div {
    background-color: #F6F8F9;
    width: 100vw;
    height: 100%;
}

.button_type1 {
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}
.button_type2 {
    border-radius: 15px;
    padding: 5px 15px;
    cursor: pointer;
}

.round_1 {
    border-radius: 50%;
    border: 1px solid #C1C1C1;
    color: #C1C1C1;
    font-size: 10px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}
.round_2 {
    border-radius: 50%;
    border: 1px solid red;
    color: red;
    font-size: 10px;
    width: 25px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
}

.background_blue {
    background-color: #45ABEA;
    color: white;
    display: inline-block; 
}
.background_blue:hover {
    background-color: white;
    color: #45ABEA;
    border: 1px solid #45ABEA;
}
.background_orange {
    background-color: #F29E33;
    color: white;
    display: inline-block; 
}
.background_orange:hover {
    background-color: white;
    color: #F29E33;
    border: 1px solid #F29E33;
}

/* header page */
header {
    background-color: white;
    width: 100%;
    height: 100px;
    margin-bottom: 50px;
}
header>figure {
    display: inline-block;
    line-height: 100px;
}
header img {
    vertical-align: middle;
    margin-left: 20px;
    width: 100%;
}
header>span {
    line-height: 100px;
    vertical-align: middle;
    font-weight: 700;
    font-size: 50px;
    margin-left: 20px;
}

/* body page */
section>div {
    margin-left: 70px;
}

main>section:first-of-type {
    background-color: white;
    width: 70%;
    height: 70px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    font-size: 20px;
    margin: 0px auto 5px auto;
    position: relative;
}
#position {
    position: absolute;
    top: 50%;
    transform: translate(-0%, -50%);
}
#background_white {
    background-color: white; 
    color: #C1C1C1;
    border: 1px solid #C1C1C1;
}
#background_white:hover {
    background-color: #C1C1C1; 
    color: white;
}

main>section:last-of-type {
    background-color: white;
    width: 70%;
    height: 750px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin: 0px auto;
}
h2 {
    display: inline-block;
    margin-top: 50px;
    font-size: 30px;
    margin-bottom: 10px;
}
.text {
    margin: auto 10px auto 15px;
    font-size: 20px;
    line-height: 45px;
}
#background_darkblue {
    background-color: #9C72E4;
    color: white;
    display: inline-block; 
}
#background_darkblue:hover {
    background-color: white;
    color: #9C72E4;
    border: 1px solid #9C72E4; 
}
#background_pink {
    background-color: #68C2AC;
    color: white;
    display: inline-block; 
}
#background_pink:hover {
    background-color: white;
    color: #68C2AC;
    border: 1px solid #68C2AC;
}
#background_purple {
    background-color: #D863A1;
    color: white;
    display: inline-block; 
}
#background_purple:hover {
    background-color: white;
    color: #D863A1;
    border: 1px solid #D863A1; 
}